@page
@model AirplaneProject.WebUI.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post">
    <div>
        <h4>Ваши билеты</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Время отправления (UTC)</th>
                    <th>Город отправления</th>
                    <th>Направляется в</th>
                    <th>Цена заказа</th>
                    <th>Статус заказа</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ActiveUserOrders != null)
                {
                    foreach (var order in Model.ActiveUserOrders)
                    {
                        <tr>
                            <td>@order.Flight.DepartureDateTime</td>
                            <td>@order.Flight.DepartureLocation</td>
                            <td>@order.Flight.DestinationLocation</td>
                            <td>@order.Price</td>
                            @if (order.IsActive)
                            {
                                <td>Активен</td>
                                <td>
                                    <button type="submit" asp-page-handler="Cancel" asp-route-orderId="@order.Id">Отменить заказ</button>
                                </td>
                            }
                            else
                            {
                                <td>Отменен</td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div>
        <h3>Ближайшие рейсы</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Время отправления (UTC)</th>
                    <th>Город отправления</th>
                    <th>Направляется в</th>
                    <th>Цена билета</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Flights != null)
                {
                    foreach (var flight in Model.Flights)
                    {
                        <tr>
                            <td>@flight.Id </td>
                            <td>@flight.DepartureDateTime</td>
                            <td>@flight.DepartureLocation</td>
                            <td>@flight.DestinationLocation</td>
                            <td>@flight.Price</td>
                            <td>
                                <button type="submit" asp-page-handler="Buy" asp-route-flightId="@flight.Id">Купить билет</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</form>
